<div class="container text-center custom-container">
  <h2>Ajoutez un invité à l'évènement <%= @event.title %></h2>
  <%= simple_form_for [@event, @participation] do |f| %>
    <div class="col-6 mb-3n mx-auto">
      <%= f.association :user, collection:@users, label: false, prompt: "Sélectionne un invité", input_html: { class: 'form-input' } %>
    </div>
    <div class="col-6 mb-2 mx-auto">
      <%= f.submit "Valider", class: 'button-basic' %>
    </div>
  <% end %>
</div>
