<h3>Add a participation to your event <%= @event.title %></h3>
<%= simple_form_for [@event, @participation] do |f| %>
  <%= f.association :user, prompt: "Select a user" %>
  <%= f.submit "Créer une TodoList", class: 'btn btn-light' %>
<% end %>
