.invitation {
  background-color: #4783f9;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.card-body a {
  text-decoration: none;
  color: white;
}

.card-body a:hover {
  text-decoration: underline;
}
