body {
  overflow-x: hidden ;
}

.show_container {
  display: flex;
}
// inner container
.inner_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}
// Sidebar


.sidebar {
  height: 100vh;
  width: 20%;
  background-color: #3f495d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;

  .logo {
    height: 110px;
    width: 166px;
    margin: auto;
  }

  .sidebar_section {
    width: 100%;
    text-align: center;
  }
  li {
    transition: 0.15s ease-in-out;
    margin-left: 1rem;
    display: block;
  }

  li:hover {
    background-color: rgb(184, 184, 184);
    color: #000000;
    cursor: pointer;
  }

  ul {
    list-style: none;
    text-align: left;
    padding: 0;
  }

  h4{
    padding: 0px;
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
}


// Show_section

.show_grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 1rem 3rem;
  padding: 10px 1rem 0px 1rem;

}

.section {
  width: 100%;
}

.show_container {
  margin: 1rem;
}

.show_card {
  display: flex;
  flex-direction: column;


  h3 {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: white;
    transition: 0.15s;
    opacity: 0.8;
  }

  a:hover {
    opacity: 1;
    // background-color: #000000;
  }
}

.show_section {
  height: fit-content;
  width: 100%;
  color: rgb(241, 241, 241);
  border-radius: 15px 15px 0px 0px;


  .section_header {
    background-color: #4883f9;
    padding: 2rem 5px 1rem 5px;
    border-radius: 15px 15px 0px 0px;
  }

  .map {
    display: flex;
    flex-direction: column;
  }
}


.show_content {
  width: 80%;
  margin-left: 10px;
}

.tricount {
  background-color: #3f495d;
  border-radius: 20px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;

  .btn {
    margin: 1rem 0px;
  }


  .tricount_info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .total {
      font-weight: 800;
      font-size: 2rem;
    }
  }
}


// Task

.task_container {
  background: none;
}

.task {
  // display: flex;
  margin: 5px 0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #3f495d;
  padding: 5px 5px;
  transition: 0.15s ease-in-out;

  .task_info {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0px 5px;
      pointer-events: none;
    }
  }

  .link_box {
    display: flex;
    background-color: #272f41;
    border-radius: 5px;
  }
}



.chat_bubble {
  position: fixed;
  z-index: 99999;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 86vh;
  left: 90vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
}

.chat_bubble:hover {
  transform: scale(1.3);
  cursor: pointer;

}

.fa-trash, .fa-pencil, .fa-square-plus {
  transition: 0.15s;
}

.fa-square-plus {
  color: white;
  margin-left: 1rem;
}

.fa-square-plus:hover {
  color: rgb(110, 110, 241);
}


.fa-trash:hover{
  color: rgb(215, 80, 80)
}

.fa-pencil:hover{
  color: rgb(110, 110, 241);
}

 .fa-lg:hover {
  color: #6594b9;
}

.modal-content {
  color: black;
}

.map .section_header {
  background-color: #637292 ;
}

.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
