<div class="col-6 mb-3n mx-auto">
  <input type="text" name="descriptions[]" placeholder="Description de la tâche" class='form-input'>
</div>
<div class="col-6 mb-3n mx-auto">
  <input type="text" name="costs[]" placeholder="Coût de la tâche" class='form-input'>
</div>
