<div class="container text-center custom-container">
  <h2>Ajouter une t창che</h2>
  <form action="/events/<%=@event.id %>/add_multiple_tasks" method="get" >
    <div class="col-6 mb-3n mx-auto">
      <input type="text" name="descriptions[]" placeholder="Description de la t창che" class='form-input'>
    </div>
    <div class="col-6 mb-3n mx-auto">
      <input type="text" name="costs[]" placeholder="Co청t de la t창che" class='form-input'>
    </div>
    <div class="col-6 mb-2 mx-auto">
      <%= submit_tag("Valider", class:"button-basic") %>
    </div>
  </form>
</div>
