<div class="show_container">
  <div class="sidebar">
    <div class="sidebar_section">
      <h2>Izivent</h2>
      <ul>
        <li>Home</li>
        <li>Dashboard</li>
        <li>Events</li>
      </ul>
    </div>
    <div class="sidebar_section"> <a href="#">Deconnexion</a></div>
  </div>
    <div class="inner_container">
      <div class="show_section"></div>
      <div class="show_section"></div>
      <div class="show_section"></div>
      <div class="show_section"></div>
    </div>
  </div>
</div>
