<% @participations.each do |participation|%>
  <p> tu es invité à l'event suivant : <%=participation.event.title%></p>
  <%= participation.participating %>
  <%= button_to 'Accepter invitation', confirm_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
  <%= button_to 'Refuser invitation', decline_participation_path(participation), method: :patch, class: 'btn btn-primary' %>
<% end %>
<%# ajouter un if avant pour ne montrer les boutons que pour les participations dont le participating est false, et pour les true juste les afficher mais pas montrer les 2 boutons %>
