<div class="container">
  <div class="row mt-5">
    <h2>Mon tableau de bord</h2>
  </div>
  <div class="row mt-5">
    <h3>Mes invitations</h3>
    <div class="col-3">
      <div class="card invitation mt-2">
        <div class="card-body">
          <p class="text-center pb-4" style="font-weight: 550;">Réponses attendues</p>
          <div>
            <% @participations.each do |participation| %>
              <% if participation.participating == nil %>
                <div class="row">
                  <div class="col-8">
                    <p class="pb-4" style="text-transform: capitalize; font-size: 14px;"><%= link_to participation.event.title, event_path(participation.event) %></p>
                  </div>
                  <div class="col-4">
                    <div class="button_box d-flex justify-content-end">
                        <%= link_to confirm_participation_path(participation), data: { turbo_method: :patch } do %>
                          <i class="fa-regular fa-circle-check"></i>
                        <% end %>
                        <%= link_to decline_participation_path(participation), data: { turbo_method: :patch } do %>
                          <i class="fa-regular fa-circle-xmark"></i>
                        <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h3>Mes évènements</h3>
  </div>
</div>
