<%= render "pages/navbar_home" %>
<div class="main-holder">
  <div class="background-banner-left">
    <div class="content-home-page">
      <h1>IzEvent</h1>
      <h3>Organiser votre event, c'est easy!</h3>
        <p>En quelques clics, vous pouvez créer votre event, y inviter vos collègues, faire un suivi des to-dos et des dépenses de chacun! Organiser un event n'aura jamais été aussi facile.</p>
        <%= link_to "Créez votre évènement", new_event_path, class: 'button-home' %>
    </div>
  </div>
  <div class="background-banner-right">
  </div>
</div>
