<%= render "pages/navbar_home" %>
<div class="main-holder">
  <div class="background-banner-left">
    <div class="content-home-page">
      <img class="home-logo" src="/assets/izevent-high-resolution-logo-white-transparent-e1b29d8387af63c5608b0804596594478900cb1a11f2f9e2e2b9ef540936c40e.png">
      <h3>Organiser votre event, c'est easy!</h3>
        <p>En quelques clics, vous pouvez créer votre évènement, y inviter vos collègues, et suivre aisément les tâches à accomplir ainsi que les dépenses de chacun. Simplifiez-vous la vie avec izevent.</p>
        <%= link_to "Créez votre évènement", new_event_path, class: 'button-home' %>
    </div>
  </div>
  <div class="background-banner-right">
  </div>
</div>
