<div class="background-banner">
</div>
<div>
  <div class="content-home-page">
    <h1>IzEvent</h1>
    <h3>Organiser votre event, c'est easy!</h3>
    <p>En quelques clics, vous pouvez créer votre event, y inviter vos collègues, faire un suivi des to-dos et des dépenses de chacun! Organiser un event n'aura jamais été aussi facile. </p>
    <%= link_to "Créez votre évènement maintenant", new_event_path, class: 'button-basic' %>

  </div>
</div>

