<div class="background-banner">
</div>
<div>
  <div class="content-home-page">
    <h1>IzEvent</h1>
    <h3>Organiser votre event, c'est easy!</h3>
    <p>En quelques clics, vous pouvez créer votre event, y inviter vos collègues, faire un suivi des to-dos et des dépenses de chacun! Organiser un event n'aura jamais été aussi facile. </p>
    <%= link_to "Créez votre évènement maintenant", new_event_path, class: 'button-basic' %>

  </div>
</div>

<%# <a href="#" class="button-basic">Crée ton propre évènement</a>
<br>
<a href="#" class="button-basic">Prochaine étape</a>
<br>
<a href="#" class="button-basic">Valide les infos de ton évènement</a>
<br>
<a href="#" class="button-basic">Retour</a>

<br>
<div class="edit-link-container">
  <a href="#"><i class="fa-solid fa-pencil"></i></a>
</div>
<br>

<div class="delete-link-container">
  <a href="#"><i class="fa-solid fa-trash"></i></a>
</div>

<br>
<div class="accept-link-container">
  <a href="#"><i class="fa-regular fa-circle-check"></i></a>
</div>
<br>

<div class="decline-link-container">
  <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
</div>
