<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<a href="#" class="button-basic">Crée ton propre évènement</a>
<br>
<a href="#" class="button-basic">Prochaine étape</a>
<br>
<a href="#" class="button-basic">Valide les infos de ton évènement</a>
<br>
<a href="#" class="button-basic">Retour</a>

<br>
<div class="edit-link-container">
  <a href="#"><i class="fa-solid fa-pencil"></i></a>
</div>
<br>

<div class="delete-link-container">
  <a href="#"><i class="fa-solid fa-trash"></i></a>
</div>

<br>
<div class="accept-link-container">
  <a href="#"><i class="fa-regular fa-circle-check"></i></a>
</div>
<br>

<div class="decline-link-container">
  <a href="#"><i class="fa-regular fa-circle-xmark"></i></a>
</div>
