.accept-link-container {
  position: relative;
  display: inline-block;
}


.fa-circle-check {
  color: #b2e0ae;
  padding: 10px;
  font-size: 30px;
}

.fa-circle-check:hover {
  color: rgb(116, 237, 116);
  transform: translate(-5%, 0%);
}
