.decline-link-container {
  position: relative;
  display: inline-block;
}


.fa-circle-xmark {
  color: #ec5c5c;
  padding: 10px;
  font-size: 30px;
}

.fa-circle-xmark:hover {
  color: rgb(206, 60, 60);
  transform: translate(-5%, 0%);
}
