.delete-link-container {
  position: relative;
  display: inline-block;
}


.fa-trash {
  color: #8d4848;
  padding: 10px;
  font-size: 22px;
  transition: 0.15s;
}

.fa-trash:hover {
  color: #da0303;

}
