.edit-link-container {
  position: relative;
  display: inline-block;
}


.fa-pencil {
  color: rgb(174, 171, 21);
  padding: 10px;
  font-size: 22px;
  transition: 0.15s;
}

.fa-pencil:hover {
  color: rgb(228, 225, 13);
}
