.navbar-izevent {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index :999;
}

nav-link {
  color: white;
  border-radius: 5px;
}

nav-link:hover {
  color: black;
}

.nav-item-logout {
  margin-right: 82vw;
}

.nav-item-login {
  margin-right: 87vw;
}

#log-out-ghost {
  opacity: 0;
}
