.navbar-lewagon {
  justify-content: space-between;
  backdrop-filter: blur(3px);
}

a.nav-link {
  color: white;
  border-radius: 5px;
}
a.nav-link:hover {
  color: #001A33;
  background-color: rgb(219, 219, 219);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
.navbar {
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}
